
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0514;
  color: white;
  border-radius: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0d0514;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0.5rem 2rem;
  border: 1px solid #3d0a59;
  border-radius: 50px;
  background: transparent;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #a855f7;
}

.contact-btn {
  background: #a020f0;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.contact-btn:hover {
  background: #7a0fcf;
}

.hero{
  text-align: left;
}

.flex-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flex-container > div {
  background-color: transparent;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
